@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* Custom Tailwind CSS with Customizable Colors
* background-600 - Background Color set as option on admin
* primary-600 - Primary Color set as option on admin
* secondary-600 - Secondary Color set as option on admin
* tertiary-600 - Tertiary Color set as option on admin (used for text)
*/

.calendar-container {
    @apply flex items-center justify-center h-screen w-full p-2 rounded;
}

.calendar-section {
    @apply bg-background-600 w-full mx-auto p-4 shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px] rounded-lg;
    height: auto; /* Allow content to determine height on mobile */
    min-height: 24rem; /* Minimum height for very small screens */
    max-height: 100vh; /* Prevent overflow on small screens */
}

/* Extra small devices (phones, 640px and down) */
@media (max-width: 640px) {
    .calendar-section {
        @apply p-2; /* Reduce padding on very small screens */
    }
}

/* Small devices (large phones, 640px and up) */
@media (min-width: 640px) {
    .calendar-section {
        @apply w-[31.25rem];
        height: 33rem;
    }
}

@media (min-width: 768px) { /* md */
    .calendar-section {
        @apply w-[37.5rem];
        height: 31rem;
    }
}

@media (min-width: 1024px) { /* lg */
    .calendar-section {
        @apply w-[44rem];
        height: 31.25rem;
    }
}

@media (min-width: 1280px) { /* xl */
    .calendar-section {
        @apply w-[50rem];
        height: 31.25rem;
    }
}

@media (min-width: 1536px) { /* 2xl */
    .calendar-section {
        @apply w-[56.25rem] max-w-[56.25rem];
        height: 43.75rem;
    }
}

/* Adjust height for landscape orientation on mobile */
@media (max-width: 640px) and (orientation: landscape) {
    .calendar-section {
        height: auto;
        max-height: 100vh;
        overflow-y: auto;
    }
}

.calendar-wrapper,
.calendar-services,
.calendar-time,
.input-form {
    @apply h-[28rem] md:h-[26rem] 2xl:h-[29rem] overflow-y-auto box-border;
}

/* Calendar Header Style */

.reset-month {
    @apply cursor-pointer bg-primary-600 hover:bg-primary-700 text-tertiary-50 py-2 mb-2 px-4 rounded text-sm transition-colors duration-300 block mx-auto;
}

.calendar-header {
    @apply flex items-center justify-between px-6 py-1;
}

.prev-month-icon, 
.next-month-icon {
    @apply cursor-pointer bg-primary-600 hover:bg-primary-700 text-tertiary-50 font-bold py-2 px-4 rounded transition-colors duration-300 mt-2 sm:mt-0;
}

.calendar-header > .current-month {
    @apply text-2xl font-semibold m-auto text-tertiary-600;
}

/* Calendar Body Style */

.calendar-body {
    @apply md:px-6 transition-all duration-300 ease-in-out flex flex-col justify-between items-center;
} 

.calendar-week {
    @apply grid grid-cols-7 gap-2 p-2 w-full;
}

.calendar-day-name {
    @apply w-11 md:w-12 text-center text-tertiary-600 font-semibold cursor-default m-auto;
}

.calendar-day {
    @apply w-11 md:w-12 text-center text-tertiary-400 font-semibold cursor-default p-2 rounded-full bg-background-600 opacity-50 m-auto;
} 

.clickable-day {
    @apply cursor-pointer text-tertiary-600 bg-background-600 opacity-100 hover:bg-secondary-600 hover:text-tertiary-50;
}

.clickable-day.next-month-day,
.clickable-day.prev-month-day {
    @apply text-tertiary-400 font-semibold cursor-pointer hover:bg-secondary-600 hover:text-tertiary-50;
}

.current-day {
    @apply border-2 border-secondary-600 font-bold; 
}

.selected-day {
    @apply bg-secondary-600 text-tertiary-50 rounded-full hover:bg-secondary-700; 
}

/* Calendar Services Style */

.calendar-services {
    @apply md:px-6 rounded-lg transition-all duration-300 ease-in-out flex flex-col items-center;
}

.calendar-services > .calendar-services-header {
    @apply text-2xl font-semibold text-center mb-6 text-tertiary-600;
}

.services-list {
    @apply grid gap-4 max-h-[290px] overflow-y-auto m-auto w-full;
}

.service-box {
    @apply flex flex-col justify-between h-full max-w-sm px-6 py-4 bg-background-600 border-4 border-primary-600 rounded-lg shadow transition-all duration-300 ease-in-out cursor-pointer active:bg-primary-600 active:text-tertiary-50 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-primary-600 text-tertiary-600;
    transition: transform 0.2s;
}

.service-box:hover {
    @apply bg-secondary-600 border-secondary-600 text-tertiary-50;
}

.calendar-services .service-box > * {
    @apply mb-auto;
}

.service-name {
    @apply text-xl font-semibold text-tertiary-600;
}

.service-description {
    @apply text-tertiary-600;
}

.service-duration,
.service-price {
    @apply text-sm text-tertiary-600;
}

.service-box:hover .service-name,
.service-box:hover .service-description,
.service-box:hover .service-duration,
.service-box:hover .service-price {
    @apply text-tertiary-50;
}

.selected-service {
    @apply bg-secondary-700 text-tertiary-50 border-secondary-700;
}

.selected-service:hover {
    @apply bg-secondary-700 text-tertiary-50 border-secondary-700;
}

.selected-service .service-name,
.selected-service .service-description,
.selected-service .service-duration,
.selected-service .service-price {
    @apply text-tertiary-50;
}

/* Calendar Time Style */

.calendar-time {
    @apply md:px-6 rounded-lg transition-all duration-300 ease-in-out flex flex-col items-center; 
}
  
.calendar-time > .calendar-time-header {
    @apply text-2xl font-semibold text-center text-tertiary-600;
}
  
.calendar-time-body {
    @apply bg-background-600 rounded-lg grid gap-6 m-auto w-full p-6;
}

.calendar-time-row {
    @apply flex flex-col items-center justify-evenly;
}

.calendar-time-item {
    @apply bg-background-600 p-4 w-full max-w-sm rounded-lg cursor-pointer text-center border-4 border-primary-600 font-semibold transition-all duration-300 ease-in-out active:bg-primary-600 active:text-tertiary-50 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-primary-600 text-tertiary-600;
    transition: transform 0.2s;
}

.calendar-time-item:hover {
    @apply bg-secondary-600 border-secondary-600 text-tertiary-50;
}

.selected-time {
    @apply bg-secondary-700 text-tertiary-50 border-secondary-700;
}

.selected-time:hover {
    @apply bg-secondary-700 text-tertiary-50 border-secondary-700;
}

.calendar-time-item:focus {
    @apply ring-2 ring-primary-600; 
}

/* Calendar User Data Style */

.input-form {
    @apply md:px-6 rounded-lg transition-all duration-300 ease-in-out flex flex-col items-center;
}

.input-form > .form-title {
    @apply text-2xl font-semibold text-center text-tertiary-600;
}

.user-details {
    @apply w-full mx-auto bg-background-600 shadow-sm border-2 border-primary-600 rounded-lg p-4 mb-4;
}

.user-details-row {
    @apply flex justify-between items-center mb-2;
}

.user-details-item {
    @apply flex items-center;
}

.detail-label {
    @apply text-xs font-medium text-tertiary-600 mr-1;
}

.detail-value {
    @apply text-sm font-semibold text-tertiary-600;
}

.detail-services {
    @apply text-right max-w-[80%] truncate;
}

.detail-total {
    @apply text-lg font-bold text-tertiary-600;
}

.input-form > .form {
    @apply m-auto w-full;
}

.form-group {
    @apply mb-4;
}

.from-group label {
    @apply block mb-2 text-sm font-medium text-tertiary-600;
}

.form-group input {
    @apply bg-background-600 border border-primary-600 text-tertiary-600 text-sm rounded-lg focus:ring-secondary-600 focus:border-secondary-600 block w-full p-2.5;
}

/* Navigation Buttons */
  
.calendar-nav {
    @apply flex justify-end items-end py-3 md:px-6;  
}
  
.nav-previous,
.nav-next {
    @apply px-3 py-2 text-sm font-medium text-center inline-flex items-center text-tertiary-50 bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-secondary-600;
}

.nav-previous {
    @apply mr-auto;
}
  
.button-appointment {
    @apply px-3 py-2 text-tertiary-50 text-sm font-medium text-center rounded-lg bg-secondary-600 hover:bg-secondary-700 focus:ring-4 focus:outline-none focus:ring-secondary-600;
}

/* Messages */
.error-message {
    @apply text-tertiary-600 text-sm font-semibold text-center mt-2 sm:-mt-10;
}

.success-message {
    @apply text-tertiary-600 text-sm font-semibold text-center mt-2 sm:-mt-10;
}

.loading-message {
    @apply text-tertiary-600 text-sm font-semibold text-center mt-2 sm:-mt-10;
}

/* Loading */

.loading-style-1 {
    @apply w-12 h-12 rounded-full animate-spin border-2 border-solid border-secondary-600 border-t-transparent absolute m-auto inset-0;
}

.loading-style-2 {
    @apply w-12 h-12 rounded-full animate-spin border-4 border-dashed border-secondary-600 border-t-transparent absolute m-auto inset-0;
}

/* Appointment Confirmation Page */

#am_confirmation {
    @apply w-full mx-auto mt-5 p-5 border border-primary-600 rounded-lg shadow-sm bg-background-600;
}

#am_confirmation h3 {
    @apply text-xl text-tertiary-600 mb-2;
}

#am_confirmation p {
    @apply text-base text-tertiary-600 mb-5;
}

#am_confirmation ul {
    @apply list-none p-0;
}

#am_confirmation li {
    @apply mb-2 text-base text-tertiary-600;
}

#am_confirmation li strong {
    @apply text-tertiary-600 font-bold;
}

#am_confirmation p.confirmation-message {
    @apply text-tertiary-600 font-bold mb-5;
}

#am_confirmation p.error-message {
    @apply text-tertiary-600 font-bold mb-5;
}